html, body {
    height: 100vh;
}

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font: "Raleway", sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    background: linear-gradient(to right, red, yellow);
}

section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

input {
    border: 2px solid black;
    border-radius: 10%;
    height: 40px;
    width: 40px;
    margin-bottom: 1rem;
    cursor: pointer;
}

h1 {
    font: 600 3.5rem "Raleway", sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
}

h3 {
    font: 900 1em "Raleway", sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;   
}